.fabButton{
    position:absolute  !important;
    z-index: 1 !important;
    top: -30px !important;
    left: 0 !important;
    right: 0 !important;
    margin:0 auto !important;
  }

  .card{
      height:10px;
      width:100%;
      background-color:black;
  }